.vw8 {
    font-size: 8vw;
}

.vw7 {
    font-size: 7vw;
}

.vw6 {
    font-size: 6vw;
}
.vw5 {
    font-size: 5vw;
}

.vw4 {
    font-size: 4vw;
}

.vw3 {
    font-size: 3vw;
}
.vw2-5 {
    font-size: 2.5vw;
}
.vw2 {
    font-size: 2vw;
}

.vw1 {
    font-size: 1vw;
}
